$textColor: #505050;
$hoverLink: #F6753C; 
$headingColor: #424B56;
$baseColor:#1A226D;
$colorWhite: #fff;
$colorDanger: #E7505A;
$colorSuccess: #26C281;
$colorWarning: #ffa500;
$colorBlue: #1f86ef;
$fontFamily: 'Montserrat',sans-serif;
$fontBPMAplication: 'Muli', sans-serif;