.WorkflowView {
  background-color: #fff;
  margin-top: 15px;

  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 10px 0 rgba(0,0,0,.14), 0 1px 15px 0 rgba(0,0,0,.12);
}
.wfview{
  padding: 12px 20px 15px;
}

.wfview_title{
  min-height: 48px;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 10px;
}

.caption{
  padding: 10px 0;
}

.caption_subject{
  text-transform: uppercase!important;
  color: #F6753C !important;
  font-size: 18px !important;
  font-family: 'Roboto',sans-serif !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

.wfview-body{
  margin-top: 15px;
}

.btn_default{
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ccc;
  text-decoration: none;
  margin-right: 5px;
  padding: 5px 10px;
  min-width: 6em;
}

/* .div_Row{
    
} */

.form_Group{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 15px;
  /* clear: both;
  height: 30px; */
}

.form_Group:before{
  content: " ";
  display: table;
}

.form_Group:after{
  content: " ";
  display: table;
  clear: both;
}

.control_Label{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  /* padding-right: 15px; */
  float: left;
  width: 200px;
  font-weight: bold;
}

.div_Form_Input{
  position: relative;
  min-height: 1px;
  /* padding-left: 15px;
  padding-right: 15px; */
  min-height: 24px;
  float: left;
  width: 50%;
}

.form_Text{
  position: relative;
  min-height: 1px;
  /* padding-left: 15px;
  padding-right: 15px; */
  /* height: 30px; */
  float: left;
  width: 100%;
  margin: 0;
  padding-bottom: 7px;
  padding-left: 10px;
}

.label_warming{
  background-color: #ffa500;
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  color: #fff;
}

.label_success{
  background-color: #26C281;
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  color: #fff;
}

.label_danger{
  background-color: #E7505A;
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  color: #fff;
}

.label_save{
  background-color: #4f60d4;
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  color: #fff;
}

.label_None{
  font-size: 13px;
  font-weight: 300;
  padding: 5px 10px;
  color: #fff;
}

.form_Input{
  position: relative;
  min-height: 1px;
  /* padding-left: 15px;
  padding-right: 15px; */
  min-height: 24px;
  float: left;
  width: 99.5%;
}

.form_Select{
  position: relative;
  min-height: 1px;
  /* padding-left: 15px;
  padding-right: 15px; */
  height: 30px;
  float: left;
  width: 100%;
}

.wfAction{
  margin-top: 30px;
  margin-left: 200px;
}

.form_Date{
  position: relative;
  min-height: 1px;
  /* padding-left: 15px;
  padding-right: 15px; */
  min-height: 24px;
  float: left;
  width: 30%;
}

.form_Text_Comment{
  position: relative;
  min-height: 1px;
  float: left;
  width: 100%;
  margin: 0;
  padding-bottom: 7px;
}

.form_btna{
  color: red;
  cursor: pointer;
}

.autocomplete_items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete_items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete_items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

table{
  width: 100%;
  border-collapse: collapse !important;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.fileAttachments{
  word-break: break-word;
}

.txtRequired{
  color: red;
}

.divComments{
  /* margin-left: -15px;
  margin-right: -15px; */
  margin-bottom: 15px;
}

.divComments:before{
  content: " ";
  display: table;
}

.divComments:after{
  content: " ";
  display: table;
  clear: both;
}

.div_Form_Comment{
  position: relative;
  min-height: 1px;
  min-height: 24px;
  float: left;
  width: 100%;
  display: flex;
}

.divImgComment{
  float: left;
  margin-right: 10px;
}

.imgComment{
  height: 60px;
  width: 60px;
}

.divContentComment{
  float: left;
}